# 03_dashboard_data_preparation

In this notebook, I prepare the final dataset for an early warning dashboard. The goal is to convert analytical results from previous phases into a clear and easy-to-understand dataset that can be used for maintenance decisions.

Output:
- A clean and minimal dataset exported for Power BI

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
# import os
# os.getcwd()

In [3]:
df = pd.read_csv("../data/scada_clean.csv")

In [4]:
df.head()

,asset_id,status_type_id,sensor_0_avg,sensor_1_avg,sensor_2_avg,wind_speed_3_avg,wind_speed_4_avg,wind_speed_3_max,wind_speed_3_min,wind_speed_3_std,...,sensor_52_max,sensor_52_min,sensor_52_std,sensor_53_avg,wind_bin,upper_limit,lower_limit,power_anomaly,power_roll_mean,power_roll_std
0,0,0,22.0,302.9,129.4,1.7,1.7,11.7,0.5,0.7,...,0.0,0.0,0.0,26.0,"(0.475, 1.75]",NaN,NaN,False,NaN,NaN
1,0,0,22.0,307.1,133.6,1.7,1.7,8.3,0.4,0.7,...,0.0,0.0,0.0,25.0,"(0.475, 1.75]",NaN,NaN,False,NaN,NaN
2,0,0,22.0,340.6,167.1,0.9,0.9,5.9,0.4,0.4,...,0.0,0.0,0.0,25.0,"(0.475, 1.75]",NaN,NaN,False,NaN,NaN
3,0,0,22.0,124.4,-49.1,1.5,1.5,7.1,0.6,0.3,...,0.0,0.0,0.0,26.0,"(0.475, 1.75]",NaN,NaN,False,NaN,NaN
4,0,0,22.0,66.2,-107.3,1.0,1.0,2.1,0.4,0.3,...,0.0,0.0,0.0,26.0,"(0.475, 1.75]",NaN,NaN,False,NaN,NaN

In [5]:
df.columns

Index(['asset_id', 'status_type_id', 'sensor_0_avg', 'sensor_1_avg',
       'sensor_2_avg', 'wind_speed_3_avg', 'wind_speed_4_avg',
       'wind_speed_3_max', 'wind_speed_3_min', 'wind_speed_3_std',
       'sensor_5_avg', 'sensor_5_max', 'sensor_5_min', 'sensor_5_std',
       'sensor_6_avg', 'sensor_7_avg', 'sensor_8_avg', 'sensor_9_avg',
       'sensor_10_avg', 'sensor_11_avg', 'sensor_12_avg', 'sensor_13_avg',
       'sensor_14_avg', 'sensor_15_avg', 'sensor_16_avg', 'sensor_17_avg',
       'sensor_18_avg', 'sensor_18_max', 'sensor_18_min', 'sensor_18_std',
       'sensor_19_avg', 'sensor_20_avg', 'sensor_21_avg', 'sensor_22_avg',
       'sensor_23_avg', 'sensor_24_avg', 'sensor_25_avg', 'sensor_26_avg',
       'reactive_power_27_avg', 'reactive_power_27_max',
       'reactive_power_27_min', 'reactive_power_27_std',
       'reactive_power_28_avg', 'reactive_power_28_max',
       'reactive_power_28_min', 'reactive_power_28_std', 'power_29_avg',
       'power_29_max', 'power_29_min', 'power_29_std', 'power_30_avg',
       'power_30_max', 'power_30_min', 'power_30_std', 'sensor_31_avg',
       'sensor_31_max', 'sensor_31_min', 'sensor_31_std', 'sensor_32_avg',
       'sensor_33_avg', 'sensor_34_avg', 'sensor_35_avg', 'sensor_36_avg',
       'sensor_37_avg', 'sensor_38_avg', 'sensor_39_avg', 'sensor_40_avg',
       'sensor_41_avg', 'sensor_42_avg', 'sensor_43_avg', 'sensor_44',
       'sensor_45', 'sensor_47', 'sensor_48', 'sensor_50', 'sensor_51',
       'sensor_52_avg', 'sensor_52_max', 'sensor_52_min', 'sensor_52_std',
       'sensor_53_avg', 'wind_bin', 'upper_limit', 'lower_limit',
       'power_anomaly', 'power_roll_mean', 'power_roll_std'],
      dtype='object')

In [6]:
df.index

RangeIndex(start=0, stop=54986, step=1)

In [7]:
dashboard_cols = ["asset_id", "wind_speed_3_avg", "power_29_avg", "power_roll_mean", "power_roll_std", "upper_limit", "lower_limit", "power_anomaly", "wind_bin"]

df_dash = df[dashboard_cols]

df_dash.head()

,asset_id,wind_speed_3_avg,power_29_avg,power_roll_mean,power_roll_std,upper_limit,lower_limit,power_anomaly,wind_bin
0,0,1.7,0.000049,NaN,NaN,NaN,NaN,False,"(0.475, 1.75]"
1,0,1.7,0.000000,NaN,NaN,NaN,NaN,False,"(0.475, 1.75]"
2,0,0.9,0.000000,NaN,NaN,NaN,NaN,False,"(0.475, 1.75]"
3,0,1.5,0.000000,NaN,NaN,NaN,NaN,False,"(0.475, 1.75]"
4,0,1.0,0.000000,NaN,NaN,NaN,NaN,False,"(0.475, 1.75]"

Analysis is based on operational sequences rather than explicit timestamps. This avoids generating fake data and is suitable for predictive maintenance.

In [8]:
window_size = 50

In [9]:
df_dash = df[dashboard_cols].copy()

df_dash.loc[:, "anomaly_percent"] = (
    df_dash["power_anomaly"]
    .rolling(window=window_size)
    .mean()
    * 100
)

In [10]:
df_dash[["power_anomaly", "anomaly_percent"]].head(60)

    power_anomaly  anomaly_percent
0           False              NaN
1           False              NaN
2           False              NaN
3           False              NaN
4           False              NaN
5           False              NaN
6           False              NaN
7           False              NaN
8           False              NaN
9           False              NaN
10          False              NaN
11          False              NaN
12          False              NaN
13          False              NaN
14          False              NaN
15          False              NaN
16          False              NaN
17          False              NaN
18          False              NaN
19          False              NaN
20          False              NaN
21          False              NaN
22          False              NaN
23          False              NaN
24          False              NaN
25          False              NaN
26          False              NaN
27          False              NaN
28          False              NaN
29          False              NaN
30          False              NaN
31          False              NaN
32          False              NaN
33          False              NaN
34          False              NaN
35          False              NaN
36          False              NaN
37          False              NaN
38          False              NaN
39          False              NaN
40          False              NaN
41          False              NaN
42          False              NaN
43          False              NaN
44          False              NaN
45          False              NaN
46          False              NaN
47          False              NaN
48          False              NaN
49          False              0.0
50          False              0.0
51          False              0.0
52          False              0.0
53          False              0.0
54          False              0.0
55          False              0.0
56          False              0.0
57          False              0.0
58          False              0.0
59          False              0.0

In [11]:
df_dash[["power_anomaly", "anomaly_percent"]].tail(100)

       power_anomaly  anomaly_percent
54886           True             88.0
54887           True             90.0
54888          False             90.0
54889          False             90.0
54890          False             90.0
...              ...              ...
54981          False             44.0
54982          False             42.0
54983          False             40.0
54984          False             38.0
54985          False             36.0

[100 rows x 2 columns]

In [12]:
df_dash[["power_anomaly", "anomaly_percent"]].describe()

       anomaly_percent
count     54937.000000
mean         36.148570
std          26.048291
min           0.000000
25%          14.000000
50%          34.000000
75%          56.000000
max         100.000000

In [13]:
df_dash["anomaly_percent"].value_counts(bins=5)

(-0.101, 20.0]    18338
(20.0, 40.0]      13460
(40.0, 60.0]      12424
(60.0, 80.0]       7721
(80.0, 100.0]      2994
Name: anomaly_percent, dtype: int64

### Interpretation:
#### 0–20%   → Normal
#### 20–40%  → Early signal
#### 40–60%  → Watch
#### 60–80%  → Warning
#### 80–100% → Critical

In [14]:
def assign_status(x):
    if x < 40:
        return "Normal"
    elif x < 70:
        return "Watch"
    else:
        return "Alert"

In [15]:
df_dash.loc[:, "Index"] = range(1, len(df_dash)+1)
df_dash.loc[:, "Status"] = df_dash["anomaly_percent"].apply(assign_status)

In [16]:
df_dash['Status'].value_counts()

Normal    30509
Watch     17613
Alert      6864
Name: Status, dtype: int64

In [17]:
status_summary = df_dash['Status'].value_counts(normalize=True) * 100
status_summary

Normal    55.485033
Watch     32.031790
Alert     12.483178
Name: Status, dtype: float64

In [18]:
df_dash.to_csv("scada_output.csv", index=False)

In [19]:
df_dash.to_excel("scada_output.xlsx", index=False)